body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Quicksand', sans-serif;
    color: darkslategray;
    height: 100%;
}

header {
   font-family: 'Berkshire Swash', cursive;
}

h1 {
    font-size: 2rem;
    margin: 0.15rem;
    color: rgb(37, 2, 71);
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: #c1c9e8;
    color: black;
    text-align: center;
    padding: 1em;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(153, 153, 153);
    margin-bottom: 0.5rem;
}

header img {
    width: 200px;
    height: auto;  
}
