$color-1: #0B0900; // Smokey Black - Text
$color-2: #629CA4; // Cadet Blue - h1 & accent
$color-3: #83759D; // Rhythm Lavender -  h2 & accent
$color-4: #E1726A; // Terra Cotta Pink - accent
$color-5: #F1C151; // Maize Yellow - accent
$color-6: #FFFFFF; // White - accent
$color-7: #CCDCDF; // Gainsboro (Grey/blue) - Background

// additional colors

$success: #6fce72; // green
$alert: #F60707; // red