@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Montserrat:ital,wght@0,400;1,700&display=swap");
header {
  background-color: #629CA4;
}

.intro h1 {
  background-color: #E1726A;
  color: #0B0900;
  font-size: 1.1em;
  margin-left: 62%;
  width: 30%;
  padding: 0.5%;
  text-align: center;
  margin-bottom: -2%;
}

.intro h2 {
  font-family: "Berkshire Swash", serif;
  font-size: 2.5em;
  line-height: 1.2em;
  letter-spacing: 2px;
  color: #0B0900;
  text-align: center;
  padding-bottom: 4%;
}

.intro h2 abbr[title] {
  color: #0B0900;
  text-decoration: none;
}

div.summary p {
  margin: 0 auto;
  width: 75%;
  font-style: italic;
  text-align: center;
  font-size: 0.95em;
}

.summary a {
  text-decoration: underline;
  color: #0B0900;
  font-style: italic;
  font-weight: bolder;
}

abbr[title] {
  text-decoration: underline;
  color: #E1726A;
  font-style: italic;
  font-weight: bolder;
}

h3 {
  font-family: "Berkshire Swash", serif;
  font-size: 1.5em;
  margin-bottom: 1.7%;
  margin-top: 1%;
  color: #E1726A;
  text-decoration: underline;
}

div p {
  font-size: 1em;
  color: #0B0900;
}

.requirements p a,
.participation p a {
  color: #E1726A;
  font-style: italic;
  font-weight: bolder;
}

a:hover,
.participation a:hover,
.requirements a:hover {
  color: #629CA4;
}

aside.sidebar h3 {
  font-size: 1.2em;
  color: #0B0900;
  margin-bottom: -1em;
  margin-top: 1em;
}

.main.supporting {
  display: block;
}

div.page-wrapper {
  font-family: "Monserrat", sans-serif;
  margin: 1%;
  padding: 3%;
  height: 100%;
  z-index: 1;
  margin-block-end: 1.2em;
}

.summary {
  background: rgba(204, 220, 223, 0.8);
}

div.summary p {
  font-size: 0.8em;
  color: #0B0900;
  padding: 0.5em;
  width: 60%;
  margin-block-end: 1.2em;
}

div .preamble,
div .explanation,
div .participation,
div .benefits,
div .requirements {
  max-width: 100%;
  line-height: 1.7em;
}
div .preamble,
div .participation,
div .requirements {
  background-color: #FFFFFF;
  padding: 1em;
  background: rgba(255, 255, 255, 0.8);
  margin-block-end: 1.2em;
}
div .explanation,
div .benefits {
  background-color: #CCDCDF;
  padding: 1em;
  background: rgba(204, 220, 223, 0.8);
  margin-block-end: 1.2em;
}
div .requirements {
  margin-bottom: 100px;
}
div .requirements p:last-child {
  border-top: 2px solid #E1726A;
  margin-top: 1.5em;
  padding-top: 1em;
}

footer {
  background-color: #F1C151;
  height: 50px;
  text-align: center;
  margin-top: -70px;
  padding-top: 20px;
  text-decoration: none;
  margin-block-start: 1.2em;
}
footer a {
  padding: 15px;
  color: #0B0900;
  text-decoration: none;
  font-weight: bolder;
}

aside ul {
  list-style: none;
}

aside.sidebar {
  font-size: 1em;
  line-height: 2em;
  background-color: #629CA4;
  padding: 1em;
}

aside.sidebar a {
  color: #CCDCDF;
}

aside.sidebar a.design-name li.next li.viewall div.zen-resources {
  font-size: 1.2em;
  font-weight: bolder;
}

aside.sidebar a.designer-name {
  color: #0B0900;
  display: block;
  text-decoration: none;
  line-height: 1em;
}

.wrapper.design-selection,
.wrapper.design-archives,
.wrapper.zen-resources {
  padding: 1em;
}

#zen-preamble::before,
#zen-requirements::before {
  display: block;
  content: url(WayPointIcons_color3.svg);
  height: 70px;
  width: 70px;
  animation: bounce 0.5s linear alternate infinite;
}

#zen-explanation::before,
#zen-benefits::before {
  display: block;
  content: url(WayPointIcons_color5.svg);
  height: 70px;
  width: 70px;
  animation: bounce 0.5s linear alternate infinite;
}

#zen-participation::before {
  display: block;
  content: url(WayPointIcons_color2.svg);
  height: 70px;
  width: 70px;
  animation: bounce 0.5s linear alternate infinite;
}

@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }
  40% {
    transform: translate3d(0, 30%, 0) scale3d(1, 1, 1);
  }
  100% {
    transform: translate3d(0, 30%, 0) scale3d(1, 1, 1);
  }
}
/*Moving road animation*/
@keyframes movingRoad {
  0% {
    background-position: 0 -100%;
  }
  100% {
    background-position: 0 100%;
  }
}
body {
  background-image: url(BackgroundRoad1.svg);
  z-index: 0;
  animation: movingRoad 8s linear infinite;
}

@media (min-width: 48em) {
  .intro h1 {
    font-size: 1.3em;
  }

  .intro h2 {
    font-size: 3em;
  }

  div.preamble,
div.explanation {
    max-width: 65%;
    line-height: 1.8em;
  }

  div .participation,
div .benefits,
div .requirements {
    line-height: 1.8em;
  }

  aside.sidebar {
    position: absolute;
    font-size: 0.95em;
    line-height: 1.75em;
    right: 2%;
    top: 45%;
    max-width: 30%;
  }

  h3 {
    font-size: 2em;
    margin-top: 1%;
  }

  div p {
    font-size: 1.2em;
  }
}
@media (min-width: 60em) {
  .intro h1 {
    font-size: 1.4em;
  }

  .intro h2 {
    font-size: 3.5em;
  }

  div.summary p {
    font-size: 1.2em;
  }

  aside.sidebar {
    font-size: 1em;
    line-height: 2em;
    right: 3%;
    top: 50%;
    max-width: 30%;
  }

  h3 {
    font-size: 2.5em;
  }

  div p {
    font-size: 1.3em;
  }
}

/*# sourceMappingURL=styles.css.map */
