@import "colors";
@import "fonts";
@import "header";
@import "typography";
@import "layout";
@import "footer";
@import "sidebar";
@import "icons";
@import "keyframes";

$tablet: "(min-width: 48em)";
$desktop: "(min-width: 60em)";

body {
  background-image: url(BackgroundRoad1.svg);
  z-index: 0;
  animation: movingRoad 8s linear infinite;
}

//  small view coding is in partials

//  medium view
@media #{$tablet} {
  .intro h1 {
    font-size: 1.3em;
  }

  .intro h2 {
    font-size: 3em;
  }

  div.preamble,
  div.explanation {
    max-width: 65%;
    line-height: 1.8em;
  }

  div {
    .participation,
    .benefits,
    .requirements {
      line-height: 1.8em;
    }
  }

  aside.sidebar {
    position: absolute;
    font-size: 0.95em;
    line-height: 1.75em;
    right: 2%;
    top: 45%;
    max-width: 30%;
  }

  h3 {
    font-size: 2em;
    margin-top: 1%;
  }

  div p {
    font-size: 1.2em;
  }
}

//  large view

@media #{$desktop} {
  .intro h1 {
    font-size: 1.4em;
  }

  .intro h2 {
    font-size: 3.5em;
  }

  div.summary p {
    font-size: 1.2em;
  }

  aside.sidebar {
    font-size: 1em;
    line-height: 2em;
    right: 3%;
    top: 50%;
    max-width: 30%;
  }

  h3 {
    font-size: 2.5em;
  }

  div p {
    font-size: 1.3em;
  }
}
