head,
body,
footer {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}

header {
    background-color: #628ca6;
    max-width: 960px;
    margin: auto;
    font-weight: bold;
    padding: 5px;
}

table {
    box-shadow: 8px 8px 20px;
    border: 2px grey;
    border-collapse: collapse;
    font-size: 1.25em;
    max-width: 400px;
    margin: auto;
    text-align: center;
}

table,
th,
td,
tr {
    border: 1px solid darkgray;
    padding: 5px;
}


thead {
    background-color: #7fb9c2;
    font-size: 1.5em;
    font-weight: bolder;
    border: 1px grey;
}



tbody th {
    background-color: #628ca6;
    color: white;
}

.goalmet {
    background-color: #628ca6;
    color: white;


}

tbody tr:nth-child(6) td:first-child {
    font-style: italic;

}

tfoot tr {
    background-color: #7fb9c2;
    font-size: .7em;

    border: 1px darkgray;
}

footer {
    background-color: #628ca6;
    max-width: 960px;
    margin: auto;
    padding: 5px;
}