body {
    font-size: 16px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(37, 2, 71);
}

h1 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0.15rem;
    color: rgb(37, 2, 71);
}

main {
    max-width: 767px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
}

main section picture img {
    width: 100%;
    height: auto;
    border: 1px solid rgb(37, 37, 37);

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 760px;
}

header,
footer {
    background-color: rgb(189, 181, 197);
    color: black;
    text-align: center;
    padding: 1em;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    border-bottom: 1px solid rgb(37, 37, 37);
    margin-bottom: 0.5rem;
}

h3 {
    font-family: 'Berkshire Swash', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.15rem;
    color: rgb(37, 2, 71);

}

header img {
    width: 200px;
    height: auto;
}