/* Larger viewports */
@media only screen and (min-width: 70em) {
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 10px;
        max-width: 960px;
    }

    figure:hover {
        box-shadow: 0 0 50px 0;
      
    }

    

}