body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	color: rgb(28, 24, 31);

}

/* header css*/
header,
footer {
	background-color: rgb(189, 181, 197);
	padding: 10px;
	color: rgb(37, 2, 50);
	border-radius: 10px;
	max-width: 960px;
	align-items: center;
	justify-content: center;
	display: flex;
	flex-flow: column;

}

header h1 {
	text-align: center;
	text-shadow: 0 2px 10px rgb(89, 111, 98);
}

header h4 {
	text-align: center;
}

header,
nav,
main,
footer {
	margin: auto;
	max-width: 960px;

}

nav {
	background-color: rgb(28, 49, 68);
	border-radius: 10px;
	box-shadow: 0 2px 15px rgb(68, 64, 71);
	text-align: center;
	margin-bottom: 5px;
	margin-top: 5px;
}

nav a:hover {
	background-color: rgb(189, 181, 197);
	color: rgb(37, 2, 71);
}

.active {
	color: yellow;
}

nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

nav li a {
	color: rgb(180, 174, 153);
	padding: .75rem;
	display: block;
	text-align: center;
	text-decoration: none;
	font-size: .95rem;
}

.titlepage {
	display: grid;
	grid-gap: 5px;
	grid-template-columns: 1fr;
	font-size: .8rem;
	margin-bottom: 5px;
}

main section {
	border: 1px solid rgb(28, 49, 68);
	padding: 1rem;
	border-radius: 10px;
	text-align: center;
}

main section img {
	display: flex;
	margin: .5rem;
	width: 100%;
	height: auto;
}


footer {
	flex: 0 1 100%;

}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 2rem;
	font-weight: bolder;
	color: rgb(37, 27, 50);
}

h2 {
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb(89, 111, 98);
}

h3 {
	font-family: 'Abril Fatface', cursive;
	font-size: 1.5rem;
	font-weight: bold;
	color: rgb(189, 181, 197);
	background-color: rgb(37, 27, 50);
	text-align: center;
	border-radius: 10px;
	padding: 10px;
}

h4 {
	font-size: 1rem;
	color: rgb(37, 27, 50);
}

h5 {
	font-size: .8rem;
	font-style: italic;
}

table {
	width: 100%;
	height: auto;
	padding: 1rem;
	

}

th {
	text-align: left;
	font-weight: bolder;
}

table, th, td {
	border: 1px solid rgb(28, 49, 68);
	border-collapse: collapse;
}

th, td {
	padding: 10px;
}

#header {
	font-family: 'Abril Fatface', cursive;
	font-size: 32px;
	color: #251b32;
}

#pnavigation {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #b4ae99;
}

#fnavigation {
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	color: #251b32;
}

#h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 32px;
	color: #251b32;
}

#h2 {
	font-family: 'Quicksand', sans-serif;
	font-size: 24px;
	color: #596f62;
}

#h3 {
	font-family: 'Abril Fatface', cursive;
	font-size: 24px;
	color: #596f62;
}

#h4 {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #251b32;
}

#h5 {
	font-family: 'Quicksand', sans-serif;
	font-size: 13px;
	color: #1c3144;
}

#ptext {
	font-family: 'Quicksand', sans-serif;
	font-size: 16px;
	color: #1c3144;
}

.ttable {
	text-align: left;

}

.center section {
	margin: 10px;
}

.targaud {
	text-align: left;
	border: 1px rgb(28, 49, 68);
	padding: 1rem;
	max-width: 900px;
}

.targaud h3 {
	text-align: left;
}


