<<<<<<< HEAD
nav li {width: 25%; float: left;}
=======

    nav li {width: 25%; float: left;}
>>>>>>> de5e33c91b2281d12626cd3c5c2891bbdad9791e
    

    main figure {
        float: right; 
        width: 48%; 
        margin-left: 2%;
        padding-bottom: .5rem;
    }
    
    div.news {
        clear: both;
        column-count: 2;
        column-rule: 1px solid #ddd;
    }
<<<<<<< HEAD
    
=======
    
>>>>>>> de5e33c91b2281d12626cd3c5c2891bbdad9791e
