body {
    font-size: 18px;
    font-family: 'Quicksand', sans-serif;
    color: rgb(28, 24, 31);
}

/* phone view or small screen*/


h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2rem;
    font-weight: bolder;
    margin: 0.15rem;
    color: rgb(37, 2, 71);
}

header,
nav,
main,
footer {
    margin: 1.25rem auto;
    max-width: 1000px;
}

main {
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 1fr;
    font-size: 0.8rem;
    text-align: center;
}

main section {
    margin: 0.5rem;
    border: 1px solid rgb(37, 2, 71);
    padding: 0 1rem;
    border-radius: 10px;
}

section:nth-child(2){
    display: none;
    margin: 0.5rem;
}

main section picture img {
    width: 100%;
    height: auto;
    border: 1px solid rgb(37, 2, 71);
    border-radius: 10px;
}

header,
footer {
    background-color: rgb(189, 181, 197);
    color: black;
    text-align: center;
    padding: 1em;
    border-radius: 10px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0.15rem;
    color: rgb(37, 2, 71);
    background-color: rgb(189, 181, 197);
    border-radius: 10px; 
}

/*medium or tablet view*/
@media only screen and (min-width: 360px) {
    main {
        grid-template-columns: 1fr 1fr;
        border-radius: 10px;
    }

    section:nth-child(2) {
        display: block;
    }

    section:nth-child(3) {
        grid-column: span 2;
    }

    main picture {
        display: block;
    }

    main section picture img {
        width: 100%;
        height: auto;
        border: 1px solid rgb(37, 2, 71);
        border-radius: 10px;
    }

}

/*large, laptop, or desktop view*/
@media only screen and (min-width: 760px) {
	main {
        grid-template-columns: 1fr 1fr 1fr;
    }
    
    section:nth-child(3) {
        grid-column: span 1;
    }

}

