body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	color: #1c3144;
}



header {
	background-color: #bdb5c5;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

header picture img {
	width: 80px;
	height: auto;

}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 1.4rem;
	color: #251B32;
	margin: 0 0 0 17px;
}

.motto {
	font-style: italic;
	letter-spacing: .8pt;
	color: #1c3144;
	text-align: center;
	margin: auto;
	font-size: .7rem;
}

main {
	width: 90%;
	display: block;
	padding: 20px;
	margin: auto;
}

h2 {
	font-family: 'Abril Fatface', cursive;
}

main h2 {
	display: flex;
	font-size: 1.8rem;
	justify-content: center;
}

h2 {
	font-family: 'Abril Fatface', cursive;
}

h3 {
	font-size: 1.3rem;
}

.section1 {
	display: flex;
	justify-content: space-around;
	background-color: #b4ae99;
	border: 1px solid #1c3144;
	margin: 7px;
	
}

.section1 img {
	max-width: 30%;
	height: auto;
	padding: 20px;
}

.summary {
	text-align: center;
	margin: auto;
	padding: 10px;
	
}

.section2 {
	display: none;
	margin: 7px;
}

.forecast {
	text-align: center;
	justify-content: center;

}

.section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 1px solid #1c3144;
	font-size: .7rem;
	margin: 7px;
	text-align: center;
}



.newsImg img {
	max-width: 30%;
	height: auto;
	padding: 20px;
	justify-content: center;
}

.section4 {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	padding: 20px;
	background-color: #b4ae99;
	border: 1px solid #1c3144;
	margin: auto;
}

.section4 img {
	max-width: 50%;
	height: auto;
	padding: 20px;
	margin: auto;
}

.contact {
	font-size: 1.5rem;
	padding: 5px 0;
	margin: auto;

}

footer {
	background-color: #bdb5c5;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	font-size: .8rem;
	margin: auto;
	justify-content: space-evenly;
}

footer span {
	font-size: 1.6rem;
	border-bottom: 1px #251B32;
}

nav {
	margin: 0 auto;
	background-color: #251B32;
}

.navigation {
	list-style: none;
	padding: 0;
}

.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	color: #bdb5c5;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}

.navigation a:hover {
	color: #596f62;
	background-color: #b4ae99;
	font-weight: 700;
}

/* the onclick JS toggles the .repsonsive class from display none (.navigation li) to display block because the repsonsive class is added to the end of the class list like this in HTML Line #6.
  <ul class="navigation responsive">
  */
.responsive li {
	display: block;
}