body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
    color: #1c3144;

}

h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 2em;
	color: #251B32;
    margin: auto;
}

header {
	background-color: #bdb5c5;
	padding: 20px;
	display: flex;
	align-items: center;
    justify-content: center;
    width: 90%;
    margin: auto;
    border-radius: 5px;
} 

h2 {
    font-family: 'Abril Fatface', cursive;
    font-weight: bold;
    font-size: 1.5em;
    text-decoration: underline;
    color: #251B32;

}

main {
    max-width: 85%;
    margin: auto;
}

.cards p {
    font-size: .8em;
	margin: 2px;

}

.cards section {
    text-align: center;
    line-height: .9;
    border-radius: 5px;
    box-shadow: 8px 8px 8px 0 #1c3144;
    padding: 10px;
    max-width: 30rem;
    margin: 10px;
	display: grid;
	grid-template-columns: 1fr;
    grid-gap: 10px;
    background-color: #bdb5c5;
    
    
}

.cards img {
    width: 70%;
    height: auto;
    margin: auto;

}
    
footer {
    background-color: #bdb5c5;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    border-radius: 5px;

}  


  /* Largest viewports */
@media only screen and (min-width: 64rem) {
    h1 {
        font-size: 3em;
    }

    h2 {
        font-size: 1.1em;
    }

    div.cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 10px;
        max-width: 960px;
        margin: auto;
    }  
}