//colors
$body-background-color: #FAEBD7;
$article-background-color: white;
$header-background-color: #6495ED;
$header-text: #DEB887;
$article-text: black;

//fonts
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@500&display=swap');
$header-font: 'Lora',
serif;
$body-font: 'Helvetica',
Arial,
sans-serif;

//mixins
@mixin center {
  max-width: 960px;
  margin-left: 0 auto;
  margin-right: 0 auto;
}

figure {
  @include center;
}

body {
  margin: 0;
  font-family: $body-font;
}

body div {
  display: flex;
  margin: auto;

}

h1,
h2 {
  font-family: $header-font;

}

header {
  background-color: $header-background-color;
  text-align: right;
  margin: 0;
  text-decoration: none;
  flex: 25%;
  padding: 3rem;

}

nav,
ul,
li,
a {
  list-style: none;
  color: $header-text;
  text-decoration: none;
  padding: 2px;

}

main {
  background-color: $body-background-color;
  padding: 2rem;

}

article {
  background-color: $article-background-color;
  margin: 2rem auto;
  padding: 2rem;
  box-shadow: 5px 5px 5px gray;

}

.post-date {
  color: gray;
  background-color: white;
}

.post-content {
  @include center;

  a {
    color: black;
  }

}

/*nav links*/

h1 {

  a:link,
  a:visited {
    color: #faebd7;
  }

  a:active {
    color: #deb887;
  }

  a:hover {
    color: white;
    text-decoration: underline;
  }
}

/*other page links*/
ul li {

  a:link,
  a:visited {
    color: #faebd7;

  }

  a:hover {
    color: white;
    text-decoration: underline;
  }
}

p a:link {
  color: #6495ed;
}

/*article title links*/

.post-content a:hover {
  color: #6495ed;
  text-decoration: underline;
}

.post-content a:active {
  color: #deb887;

}


/*Media Query*/
@media only screen and (max-width: 760px) {

  body div {
    display: block;
    margin-right: 2rem;
  }

  figure img {
    width: 75%
  }

}

