/* Larger viewports */
@media only screen and (min-width: 32.5em) {
    header img {
        width: 100%;
        height: auto;
    }

    main footer {
        width: 90%;
        margin: auto;
    }

    main h2 {
        font-size: 2.75rem;
    }

   

    .headings h1 {
        font-size: 4rem;
        margin: 0 0 0 17px;
    }


    .motto {
        letter-spacing: 1.2pt;
        font-size: .9rem;
        margin-left: 20px;
        font-style: italic;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* needed because of state in small view */
        flex: 1 1 100%;
    }

    .navigation li a {
        color: #bdb5c5;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }
    

    .summary h3 {
        font-size: 2rem;

    }

    .section2 {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        margin: 7px;
        font-size: 2rem;
        padding: 20px;
    }

    .flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        border: 2px solid #1c3144;

    }

    .col {
        flex: 1 1 100%;
        font-size: 80%;
        border-right: 2px #1c3144;
    
    }

    .high {
        display: flex;
    }

    h3 {
        font-size: 2rem;
        text-align: center;

    }

    .section3 {
        display: flex;
        flex-direction: row;
        padding: 20px;
        background-color: #b4ae99;
        border: 1px solid #1c3144;
        text-align: center;
        margin: 7px;
    }

    .section3 h3 {
        font-size: 2rem;
        text-align: center;
    
    }

    .newsImg img {
        display: flex;
        flex-direction: row;
        justify-content: center;
         max-width: 60%;
    }


    .section4 {
        display: flex;
        flex-direction: row;
        border: 1px #1c3144;
        background-color: white;
        border: 1px solid #1c3144; 
        margin: 7px;
    }

    .section4 img {
        max-width: 30%;
        height: auto;
    }

    .contact h3 {
        font-size: 2rem;
        align-items: center;
    }

    
   
}