/* Larger viewports */
@media only screen and (min-width: 32.5em) {
    header img {
        width: 100%;
        height: auto;
    }

    main footer {
        width: 90%;
        margin: auto;
    }

    main h2 {
        font-size: 2.75rem;
    }

    div#message {
        font-size: 1.75rem;
        font-weight: bold;
    }

    .headings h1 {
        font-size: 4rem;
        margin: 0 0 0 17px;
    }


    .motto {
        letter-spacing: 1.2pt;
        font-size: .9rem;
        margin-left: 20px;
        font-style: italic;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        /* needed because of state in small view */
        flex: 1 1 100%;
    }

    .navigation li a {
        color: #bdb5c5;
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }
    
    .weathersummary {
        margin-left: 20px;
        margin-top: 20px;
    }

    .summary h3 {
        font-size: 2rem;

    }

    .section2 {
        display: flex;
        flex-direction: column;
        font-size: 1.5rem;
        margin: 7px;
        font-size: 2rem;
        padding: 20px;
    }

    .flex {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        
    }

    .col {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 80%;
        border: 2px solid #1c3144;
    
    }

    .day {
        text-decoration: underline solid #1c3144;

    }

    .high {
        display: flex;
    }

    h3 {
        font-size: 2rem;

    }

    .section3 {
        display: block;
        padding: 20px;
        background-color: #b4ae99;
       
        text-align: center;
        margin: auto;
        font-size: 1.1rem;
    }

    .section3 h3 {
        font-size: 2rem;
        text-align: center;
    
    }

    .section3 .newsImg {
         max-width: 40%;
         float: right;
         margin-top: 20px;
	    margin-left: 10px;
	    margin-bottom: 10px;

    }


    .section4 {
        flex-direction: row;
        justify-content: center;
        padding: 10px;
        background-color: white;
        margin: auto;
    }

    .section4 img {
        display: flex;
        max-width: 30%;
        height: auto;
    }

    .contact h3 {
        font-size: 2rem;
    
    }

    
   
}