/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*----------- apply a natural box layout model to all elements --------------*/
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

/*----------- BODY --------------*/
body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	color: #1c3144;
}

/*----------- HEADER --------------*/
div#message {
	background-color: #251B32;
	color: #bdb5c5;
	padding: 10px;
	text-align: center;
	font-size: .8rem;
	margin: auto;
	text-shadow: 0px 2px 4px #b4ae99;
}

.hidebanner {
	display: none;
}

.showbanner {
	display: block;
}

header {
	background-color: #bdb5c5;
	padding: 5px 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

header picture img {
	width: 80px;
	height: auto;

}

.headings {
	display: flex;
	flex-direction: column;
}

.headings h1 {
	font-family: 'Abril Fatface', cursive;
	font-size: 1.4rem;
	color: #251B32;
	margin: auto;
}


.motto {
	font-style: italic;
	letter-spacing: .8pt;
	color: #1c3144;
	text-align: center;
	margin: auto;
	font-size: .5rem;
}

/*----------- NAVIGATION --------------*/

nav {
	margin: 0;
	background-color: #251B32;
}

.navigation {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}


.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	color: #bdb5c5;
	padding: 0.75rem;
	text-align: left;
	text-decoration: none;
}

.navigation .active {
	background-color: white;
	color: #251B32;
	border-bottom: 2px #251b32;
}

.navigation a:hover {
	color: #596f62;
	background-color: #b4ae99;
	font-weight: 700;
}

/*----------- MAIN --------------*/

main {
	max-width: 960px;
	display: block;
	padding: 20px;
	margin: auto;
}

h2 {
	font-family: 'Abril Fatface', cursive;
}

main h2 {
	display: flex;
	font-size: 1.8rem;
	justify-content: center;
}

.gallery {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 10px;

}

figure {
	margin: auto;
}

figcaption {
	margin: 10px;
	font-size: .8em;
	color: #1c3144;
}

h3 {
	text-align: center;
	font-size: 1.5rem;
	text-shadow: 3px 3px 5px #1c3144;
}

h4 {
	font-size: 1.35rem;
	text-decoration: underline white;
}

main picture.myphoto {
	width: 90%;
	margin: auto;
}

main picture.myphoto img {
	width: 100%;
}
/*------------ homepage -------------*/
.homepage {
    text-align: center;
}

.cards section {
    box-shadow: 8px 8px 8px 0 #1c3144;
    padding: 20px;
    margin: 10px;
    background-color: #bdb5c5;
    display: flex;
    flex-direction: column;
    
    
}

.cards img {
    width: 95%;
    height: auto;
    margin: auto;
    display: flex;
    padding: 10px;


}

.cards h2 {
    font-size: 1.5rem;
    padding: 5px;
    text-decoration: underline #1c3144;
  
   
   
}

.cards h3 {
    font-size: .7rem;
    font-style: italic;
    text-shadow: none;
    padding: 2px;

    text-align: center;
}

.cards p {
    text-align: center;
    margin: 2px;
}


.topstory {
    display: flex;
	flex-direction: column;
	
	border: 2px solid #1c3144;
	padding: 20px;
	font-size: .9rem;
	margin: auto;
	text-align: center;
}

section.topstory h2 {
    font-size: 1.5rem;
    justify-content: left;
}

section.topstory .newsImg {
    max-width: 40%;
	height: auto;
	margin: auto;
	box-shadow: 0 2px 15px #1c3144;
}


.section1 {
	position: relative;
}

.section1 img {
	max-width: 100%;
}

.weathersummary {
	position: absolute;
	top: 2rem;
	left: 2rem;
	background-color: #1c3144;
	border: white;
	border-style: outset;
	color: #bdb5c5;
	padding: 10px;
	box-shadow: 0 2px 15px #1c3144;
	opacity: .8;
	max-width: 100%;
	height: auto;
	text-align: center;
	line-height: .9;
}

.weathersummary p {
	font-size: .9em;
	margin: 5px;

}

.weathersummary #conditions {
	color: white;
	font-style: italic;
}

.weathersummary #temperature {
	color: white;
	font-style: italic;
}

.weathersummary #windchill {
	color: white;
	font-style: italic;
}

.weathersummary #humidity {
	color: white;
	font-style: italic;
}

.weathersummary #wspeed {
	color: white;
	font-style: italic;
}

.weathersummary h4 {
	text-decoration: underline white;
	margin: 5px;

}
.section2 {
	display: none;
	margin: auto;
}

.flex {
	display: none;
	flex-direction: row;
	padding: 5px;
    text-align: center;
    justify-content: center;
}

.col span #day1 #day2 #day3 #day4 #day5 {
	padding: 20px;
    font-weight: bold;
    background-color: #bdb5c5;
}


.section2 .flex {
    font-size: 1.5rem;
}




.flex div img {
	max-width: 80px;
	width: 100%;
	height: auto;
}

.high {
	display: none;
	font-size: 60%;
	padding: 0 5px 5px;
	text-align: center;

}

.section3 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 2px solid #1c3144;
	padding: 20px;
	font-size: .9rem;
	margin: auto;
}


.section3 .newsImg {
	max-width: 70%;
	height: auto;
	margin: auto;
	box-shadow: 0 2px 15px #1c3144;

}

div.title h3 {
    text-align: left;
    text-shadow: none;
}

.article {
    text-align: left;
}

.section4 {
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: #b4ae99;
	margin: auto;
	clear: both;

}

.townmap{
	display: none;
	height: auto;
	padding: 5px;
	margin: 0px;
	margin-right: 20px;
	box-shadow: 0 2px 15px #1c3144;
}

.section4 h3 {
	text-align: left;
}

.contact {
    padding: 20px;

}

/*------------ FORM --------------*/

form fieldset {
    margin: 2rem 0;
    border: 1px solid #1c3144;
    border-radius: 10px;
    padding: .5rem;
    font-size: 1.5rem;
    font-weight: bolder;
   

}

form legend {
    color: #1c3144;
    margin: 0 1rem;
    padding: 1rem;
}

legend {
    color: #1c3144;
}

form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: #251b32;
    font-size: 1.2rem;
    text-decoration: underline;

}

form label.top input, form label.top select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #1c3144;
    border-radius: 4px;
    padding: .75rem;
   
}

form label.report, form div {
    display: block;
    padding-top: 1rem;
    color: #251b32;
    font-size: 1.2rem;
}

form label.report input, form label.report select{
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    padding: .75rem;
    border: solid 1px #1c3144;
    border-radius: 4px;
   
}

datalist {
    border: #1c3144;
    border-radius: 4px;
    background-color: #bdb5c5;
    display: none;
}

form label.rating {
    display: flex;
    flex-direction: column;
    max-width: 200px;
   
}

#ratingvalue {
	margin: 0 15px;
}

textarea {
    width: 100%;
    padding: 10px 12px;
    resize: none;
}

form input.submitBtn {
    border: none;
    background-color: #251b32;
    color: #bdb5c5;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

form label.top input:required {
    border-left: red solid 6px;
}

form label.top input:required:valid {
    border-left: green solid 6px;
}

/*----------- FOOTER --------------*/

footer {
	background-color: #bdb5c5;
	padding: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
	font-size: .8rem;
	margin: auto;
	justify-content: space-evenly;
}

footer span {
	font-size: 1.6rem;
	border-bottom: 1px #251B32;
}


.wrapper {
	display: inline-flex;
	text-align: center;

}
