/* Larger viewports */
@media only screen and (min-width: 650px) {

header h1 {
    font-size: 3rem;
}

header h2 {
    font-size: 1.5rem;
}

.navigation li {
    display: block;
    flex: 1 1 100%;
   
}

.navigation li a {
    text-align: center;
}

.navigation {
    display: flex;
}


.navigation li:first-child {
    display: none;
}

.callToAction h2{
    font-size: 1.5rem;
}

body main section.container {
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;
}

.section1  {
    position: relative;
    margin: auto;
    max-width: 100%;
}

.weathersummary {
    position: absolute;
    top: 10rem;
    left: 5rem;
   
}

.level h3 {
    font-size: 1.5rem;
}

.level {
    display: flex;
    flex-direction: column;
    max-width: 45%;
}


.mstatement h3 {
  font-size: 1.5rem;
}

.mstatement {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    float: right;

}

/*------------- Reservations Page -------------*/

header.hborder h3{
    font-size: 1.5rem;
}

table.restable {
    display: table;
}


.table {
    display: table;
    border-collapse: collapse;
    margin: auto;
    
}

.smallview {
    display: none;
}



/*------------- Adventures Page -------------*/

section.adventures {
    display: block;
    background-color: #1d5277;
    padding: 20px; 
    

}

.adventures img {
    max-width: 40%;
    height: auto;

}    

.description {
    text-align: center;
    max-width: 55%;
    padding: 20px;
    font-size: 1rem;
    margin: 0 0 0 420px;
    
}

.description h4 {
    margin: 0 auto;
}

.howMuch {
    max-width: 30%;
    min-width: 25%;
    bottom: 50px;
    right: 100px;
    

}

.howMuch p {
    color: #fcc437;
    padding: 10px;
    margin: auto;
}

.howMuch a {
    background-color: #fcc437;
    color: #1c3144;
    padding: 10px;
   
    
}

/*-------------- Contact Us Page ----------*/
form fieldset h3 {
    font-size: 1.5rem;
}

form fieldset lable {
    font-size: 1.5rem;
}

.townmap {
    display: flex;
}


}
