



/*------------- BODY ---------------*/
body {
	font-size: 16px;
	font-family: 'Quicksand', sans-serif;
	color: #1d5277;
}

h1 {
    font-size: 2rem;
    font-family: 'Righteous', cursive;
    color: #9a031e; 
}

h2 {
    font-size: 1.5rem;
    color: #ff7700;
}

h3 {
    font-size: 1.5rem;
    font-family: 'Righteous', cursive;
    color: #1d5277;
}

h4 {
    font-size: 1.5rem;
    font-family: 'Righteous', cursive;
    color: #fcc437;
}

hr {
    width: 99%;
    margin: 0;
    border-style: dashed;
    border-width: 3px;
    color: #1d5277;
}


/*-------------- HEADER --------------*/
header {
	background-color: #edffec;
	padding: 10px 0;
	display: flex;
	align-items: center;
    justify-content: center;
    margin: auto;
    
    
}


header picture img {
    width: 125px;
    height: auto;
    height: auto;
    display: flex;
    float: right;
    margin: 10px;
    align-items: center;
    

}

header section .headings {
    display: flex;
    flex-direction: column;
    
   
}

header h1 {
	font-family: 'Righteous', cursive;
	font-size: 2rem;
	margin: auto;
}

header h2 {
    margin: 0 auto;
    font-size: 1.2rem;
    font-style: italic;
    letter-spacing: .23rem;
}

/*----------- NAVIGATION --------------*/

nav {

    background-color: #1d5277;
    max-width: 1500px;
    align-content: center;
    margin: auto;
}

.navigation {
	list-style: none;
	padding: 0;
	margin: 0 auto;
}


.navigation li:first-child {
	display: block;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	color: #edffec;
	padding: 0.75rem;
	text-align: left;
}

.navigation .active {
	background-color: #9a031e;
}

.navigation a:hover {
	color: #1d5277;
	background-color: #fcc437;
}

.responsive li {
	display: block;
}

/*----------- MAIN --------------*/

/*------------Home Page ------------*/
main {
	max-width: 960px;
	display: block;
	padding: 20px;
	margin: auto;
}

.callToAction {
    display: block;
    background-color: #1d5277;
    padding: 20px;
    margin: auto;
    text-align: center;
    max-width: 960px;
    
}

.callToAction h4 {
    font-size: 1.4rem;
}

.callToAction h4 a {
    color: #fcc437;
}


.section1 {
    position: relative;
}

.myphoto img{
    margin: auto;
    max-width: 100%;
    color: #edffec;
    
   
}

.weathersummary {
    position: absolute;
    top: 10rem;
    left: 2rem;
    background-color: #edffec;
	color: #1d5277;
	padding: 10px;
	box-shadow: 0 2px 15px #edffec;
	opacity: .8;
	max-width: 300px;
	height: auto;
	text-align: center;
	line-height: .9;
}

.weathersummary p {
	font-size: .9em;
	margin: 5px;

}

.weathersummary #conditions {
	color: #ff7700;
	font-style: italic;
}

.weathersummary #temperature {
	color: #ff7700;;
	font-style: italic;
}

.weathersummary #windchill {
	color: #ff7700;;
	font-style: italic;
}

.weathersummary #humidity {
	color: #ff7700;;
	font-style: italic;
}

.weathersummary #wspeed {
	color: #ff7700;;
	font-style: italic;
}

.weathersummary h4 {
    color: #9a031e;
	text-decoration: underline #9a031e;
	margin: 5px;

}

body main section.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 960px;
    margin: auto; 

}

.level {
    display: flex;
    flex-direction: column;
    background-color: #1d5277;
    color: #edffec;
    box-shadow: 0 2px 15px #1c3144;
    max-width: 415px;
    min-height: 500px;
    padding: 30px;
    text-align: center;
}

.level h4 {
    margin: 15px;
    font-size: 1.3rem;
    text-align: center;
}

.mstatement {
    display: flex;
    flex-direction: column;
    background-color: #1d5277;
    color: #edffec;
    box-shadow: 0 2px 15px #1c3144;
    max-width: 415px;
    min-height: 500px;
    padding: 30px;
    text-align: center;
}

.mstatement h4 {
    margin: 15px;
    font-size: 1.3rem;
    text-align: center;
}
/*------------- Adventures Page -------------*/

section.adventures {
    display: block;
    background-color: #1d5277;
    padding: 20px;
    position: relative;
    max-width: 960px;
    min-height: 375px;
    position: relative;
 

}

.adventuress h4 {
    font-size: .9rem;
    margin: 0 20px 0 10px;
   
}

.adventures img {
    position: absolute;
    top: 40px;
    left: 80px;

}



.description {
    text-align: center;
    color: #edffec;
    padding: 20px;
    font-size: .7rem;
    margin: 100px 0 0 20px;
    
}

.description p {
    padding: 10px;
    margin: 0 0 70px 0;
}

.description h4 {
    padding: 10px;
    margin: 50px 0 0 0;
}

.howMuch {
    position: absolute;
    bottom: 10px;
    right: 50px;
    border: 3px solid #fcc437;
    display: flex;
    flex-direction: row;
   
    

}

.howMuch p {
    color: #fcc437;
    text-align: center;



  
}

.howMuch a {
    background-color: #fcc437;
    color: #1c3144;
    padding: 10px;
    justify-content: center;

    
}

/*----------- GUIDES PAGE -------------*/

.cards section {
    box-shadow: 8px 8px 8px 0 #1d5277;
    padding: 20px;
    margin: 10px;
    background-color: #edffec;
    display: flex;
    flex-direction: column;
    
    
}

.cards img {
    width: 60%;
    height: auto;
    margin: auto;
    display: flex;
    padding: 10px;
    border: 2px #1d5277;


}

.cards h2 {
    font-size: 1.5rem;
    padding: 5px;
    text-decoration: underline #9a031e; 
   
}

.cards p {
    text-align: center;
    margin: 2px;
}

/*--------------Reservations Page ------------*/

header.hborder h3{
    font-size: 1.2rem;
}

table.restable {
    display: none;
    border: 1px #1d5277;
    font-size: 1.25em;
    max-width: 800px;
    margin: auto;
    text-align: center;
}

thead.header th{
    margin: 0 0 10px 0;
    padding: 10px;
    font-family: 'Righteous', cursive;
    font-size: 1.3rem;
}

table.restable,
th,
td,
tr {
    border: 2px solid #1d5277;
    border-collapse: collapse;
    padding: 15px;
}

.form p {
    font-family: 'Righteous', cursive;
    font-size: 1.3rem;
}



/*------------Questions Page -------------*/

.questions {
    background-color: #edffec;
    padding: 20px;
}
.questions h2 {
    margin: 40px 0 5px 0;
    max-width: 95%;
}

.questions p {
    margin: 0 0 40px auto;
    max-width: 95%;
}

/*------------ Contact Us ------------*/

.contact {
   text-align: center;

}

.address h3{
    text-align: center;
    margin: 20px 0 0 0;
}

.address p {
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 0 0;

}

.townmap{
    display: none;
    float: right;
    padding: 5px;
    margin: 5px 40px 5px 5px;

}

.form h2 {
    margin-top: 100px;
}

form fieldset {
    margin: 32px 0 0 0 ;
    border: 1px solid #1d5277;
    padding: 20px;
    font-size: 1.5rem;
    font-weight: bolder; 
}


.form legend {
    color: #ff7700;
    margin: 0 1rem;
    padding: 15px;
}

legend {
    color: #1d5277;
}

.form label.top, .form div, .form label.comment {
    display: block;
    font-family: 'Righteous', cursive;
    padding-top: 10px;
    padding-bottom: 5px;
    color: #1d5277;
    margin: 0 0 0 20px;
  
}



.form label.info, .form label.radio, .form label.who {
    margin-left:  30px;
    margin-top: 20px;
    padding-top: 20px;
  
}


.form label.info input {
    margin-top: 30px;

}


.form label.top input {
    
    display: block;
    font-size: 1rem;
    border: solid 1px #1d5277;
    padding: 10px;
    margin: 0 0 0 30px;
   
}


textarea {
    width: 95%;
    padding: 10px 12px;
    resize: none;
    color: #1d5277;
}

.form input.submitBtn {
    border: none;
    background-color: #1d5277;
    color: #fcc437;
    
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

.thankyou h3 {
    text-align: center;
    margin: auto;
    padding: 20px;
}




/*-------------- FOOTER ------------*/

footer {
    background-color: #edffec;
	padding: 20px;
	display: flex;
	flex-direction: column;
	font-size: .7rem;
    margin: auto;
    max-width: 1500px;
	
}

footer tbody.padding tr td {
    padding: 5px;
}

.table thead tr th {
    font-size: 1rem;
    padding: 5px;
}



.table {
    display: none;  
  
}

table.table th {
    font-family: 'Righteous', cursive;
    color: #9a031e;
    text-decoration: underline;
    width: 200px;
    margin: auto;
}

table.table tr {
    text-align: center;
}

table.table td img {
    width: 40px;
    height: 40px;
    padding: 2px;
}

.smallview {
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;

    font-size: 80%;

}

.title {
    font-size: 1.2rem;
    font-family: 'Righteous', cursive;
    color: #9a031e; 
    margin: 5px;
    text-decoration: underline;
    text-align: left;
   

}

.content {
    text-align: left;
}

span.titile p {
    text-align: left;
    margin: auto;
}

.iconSize img{
    width: 50px;
    height: 50px;
   
    padding: 5px;
    align-items: center;
   margin: auto;

}

#api {
    font-size: .8rem;
    font-style: italic;
}


